<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

 <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/room.css">
   <link rel="stylesheet" href="css/footer.css">

<script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous">
    </script>

    
<body class='hbBody'>
 <h1 id = "h1">WELCOME TO YOUR ROOM : </h1>

<header>
        <h1 id = "h1">WELCOME TO YOUR ROOM : </h1>

    <p class="formText">
        <span class="textBody">SAVE</span> THIS PAGE TO COME BACK TO IT.
    </p> 

    <p class="formText">
        PLEASE PROCEED TO THE FORM PAGE TO <span class="textBody">PICK</span> WHAT YOU WANT TO DO AND WHEN.
    </p>
    <br/>
    <h2>
        <a class="routeToForm" id="routeToForm" href="/myroom/form">
        FORM PAGE</a>
    </h2>
    <br/>
    <p class="formText">
        IF YOU WOULD LIKE TO <span class="textBody">CREATE</span> A NEW ROOM, PLEASE PROCEED BACK TO THE HOMEPAGE
    </p>
    <br/>
    <h2 id="planButton">
        <a>Get Best Plan For The Group</a>
    </h2>
    <br/>
    <div id="info">THE BEST PLAN FOR YOUR GROUP IS : <span id="infoDisplay"></span></div>
    <br>
    <!-- FOR TESTING ROUTING BACK TO HOME PAGE -->
    <h2><a class="routeToHome" href="/">
        HOME PAGE
    </a></h2>

</header>

    <table class="table table-bordered" style="font-size: 20px;">
    <thead>
      <h2>  <th>Name</th>
        <th>Activity</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
    </thead>
    <tbody>
        {{#each users}}
       <tr><td> {{user.name}}</td>
        {{!-- {{ activity}} --}}
        {{!-- {{#each activities}} --}}
       <td>{{activities}}</td>
        {{!-- {{/each}} --}}
       {{!-- {{/each}} --}}
       <td> {{user.monday_time}}</td>
       <td> {{user.tuesday_time}}</td>
       <td> {{user.wednesday_time}}</td>
       <td> {{user.thursday_time}}</td>
       <td> {{user.friday_time}}</td>
       <td> {{user.saturday_time}}</td>
       <td> {{user.sunday_time}}</td></tr> </h2>
       {{/each}}
    </tbody>
</table>

</body>


 <script>


        var addr = $(location).attr('href').split("/");
        addr =addr[addr.length-1];
        $("#routeToForm").attr("href", "/"+addr+"/form");
        $("#h1").append("<span id='specialRoom'>" + addr + "</span>");

        $("#planButton").click(function(){
            $.get("/api/" + addr + "/best/daytime", function(result){
                console.log(result);
                var day  = $("<p>").text( "Best day: " +  result.day);
                var time = $("<p>").text("Time: " + result.time);
               
                $("#infoDisplay").append(day);
                $("#infoDisplay").append(time);
            })
            console.log("plan button clicked" + addr)
            $.get("/api/" + addr + "/best/category", function(result){
                console.log("cat done")
                console.log(result);
                var activity = $("<p>").text("Activity: " + result.category );
                $("#infoDisplay").append(activity);
            });
        })
        

    </script>

